h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;

}

h2 {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    text-align: center;
}

.agrupar {
    background: red;
    width: 960px;
    margin: 15px auto;
}